{% extends 'base.html.twig' %}

{% block title %}Accueil JENT-Strasbourg{% endblock %}

{% block body %}
    <main role="main">
        <div class="container main-container">

            <h2>Accueil</h2>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores cum est hic laboriosam qui quo rem
                repellat rerum similique ullam. Dicta error ex exercitationem id in minima nihil nostrum sit.
            </p>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet architecto culpa dolores error est facere
                fugit impedit laboriosam, molestiae necessitatibus nobis, nostrum quaerat quas quo ratione soluta, unde
                veniam. Placeat.
            </p>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque expedita laboriosam molestiae non quae,
                reprehenderit veritatis vero voluptatum! Accusantium consequatur fuga ipsam laboriosam laudantium magni
                numquam quae quia soluta, vel?
            </p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus at blanditiis dolore ex odio quos,
                reiciendis ut voluptate voluptatum. Architecto deserunt dignissimos distinctio dolorem in odit porro
                quidem rem sit!
            </p>

        </div>
    </main>
{% endblock %}
