{% extends 'base.html.twig' %}

{% block title %}Carte des Parkings{% endblock %}

{% block body %}
    <main>
        <div class="container main-container">
            <div class="map-info-top">
                <h2 class="map-title">Lorem ipsum dolor sit amet.</h2>
                <div class="map-description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et exercitationem mollitia
                        perspiciatis
                        rem repudiandae? Accusamus doloremque earum, exercitationem harum in labore veritatis.
                        Aliquam
                        architecto consequatur dolores harum obcaecati, omnis ut!</p>
                </div>
            </div>
            <div class="map-display">
                <div id="map-parking" style="width: 500px; height: 500px;"></div>
            </div>
            <div class="map-info-bottom">
                <p></p>
            </div>
        </div>
    </main>
{% endblock %}
