{% extends 'base.html.twig' %}

{% block title %}Carte des Parkings{% endblock %}

{% block body %}
    <main>
        <div class="container main-container">
            <div class="map-info-top">
                <h2 class="map-title">Lorem ipsum dolor sit amet.</h2>
                <div class="map-description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et exercitationem mollitia
                        perspiciatis
                        rem repudiandae? Accusamus doloremque earum, exercitationem harum in labore veritatis.
                        Aliquam
                        architecto consequatur dolores harum obcaecati, omnis ut!</p>
                </div>
            </div>
            <div class="map-display">
                <div id="map-parking"></div>
            </div>
            <div class="map-info-bottom">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur culpa eaque earum eius, esse
                    ipsum iste laborum molestias nobis nulla odio officiis pariatur quis ratione sit ullam ut vitae
                    voluptatum?
                </p>
            </div>
        </div>
    </main>
{% endblock %}
