//
// Based on Bootstrap Container
//
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: $breakpoint-sm) { max-width: $container-width-sm; }
  @media (min-width: $breakpoint-md) { max-width: $container-width-md; }
  @media (min-width: $breakpoint-lg) { max-width: $container-width-lg; }
  @media (min-width: $breakpoint-xl) { max-width: $container-width-xl; }
}
