//
// Variable for scss
//

// Media queries
$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

$container-width-sm: 540px;
$container-width-md: 720px;
$container-width-lg: 960px;
$container-width-xl: 1140px;

// Color
$background-header-footer: #333333;
$background-light: #eeeeee;
$background-lighter: #fefefe;

$links-color-light: #dddddd;
$links-color-light-hover: #ffffff;

$text-color-body: #000000;
$text-color-body-p: #000000;
$text-color-gray: #aaaaaa;

// Simple grid
$grid-width: 96%;
$grid-gutter: 4%;