//
// Variable for scss
//

// Media queries
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

// Color
$background-light: #eeeeee;
$background-lighter: #fefefe;

// Simple grid
$width: 96%;
$gutter: 4%;