// Imports scss files
@import "includes/simple-grid";
@import "includes/reset-css";

// Imports fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;900&display=swap');

// Useful Var
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

$background-light: #eeeeee;
$background-lighter: #fefefe;

// CSS
* {
  font-family: 'Work Sans', sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1em 1.5em;

  .navbar-title {
    font-weight: 900;

    margin: 0.5em 1em;

    line-height: 1;
  }

  .navbar-nav {
    flex-grow: 1;
  }

  .navbar-links {
    list-style: none;
    display: block;
    text-align: right;

    li {
      display: inline-block;
    }
  }
}

.links {
  text-decoration: none;
}