//
// style.scss
// Compiled by sass with scss syntax
//
// This file is spited between different comment for readability
//

//
// Imports scss files
//
@import "includes/variables";
@import "includes/reset-css";
@import "includes/container";

@import "vendor/icomoon";

//
// Imports fonts
//
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;900&display=swap');

// Base layout for the page layout
body {
  display: flex;
  flex-direction: column;

  main {
    flex: 1 0 auto;
  }

  footer {
    flex-shrink: 0;
  }
}

// Grid .footer-logos-container
.footer-logos-container {
  display: grid;

  // For small (xs) devices: 1 per lines
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  // For small (sm) devices: 2 per lines
  @media only screen and (min-width: $breakpoint-sm) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  // For large (lg) devices: 4 per lines
  @media only screen and (min-width: $breakpoint-lg) {
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
  }
  // Gap between elements
  grid-column-gap: 25px; //column
  grid-row-gap: 10px; //row
}

// Mobile navbar

%mobileHeader {
  display: block !important;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;

  background: rgba(0, 0, 0, 0.97) !important;

  .navbar-menu {
    display: flex !important;
    flex-direction: column;
    justify-content: center;

    .navbar-links {
      text-align: center;
      font-size: 3em;
    }
  }
}

.mobile-navbar-show {
  @extend %mobileHeader;
  top: -100%;

  animation: slide-bottom 0.5s forwards;

  @keyframes slide-bottom {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(100%);
    }
  }
}

.mobile-navbar-hide {
  @extend %mobileHeader;

  top: 0;
  animation: slide-top 0.5s forwards;
  @keyframes slide-top {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-100%);
    }
  }
}

//
// Main style information
// Colors, paddings, margins, and so on...
//

// Diverse background color which don't fit elsewhere
%headerFooter {
  background: $background-header-footer;
}

body {
  background: $background-light;
}

// Default font for all elements TODO Change font?
* {
  font-family: 'Work Sans', sans-serif;
}

// Header style
header {
  @extend %headerFooter;

  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .25em 0;

    .navbar-title {
      font-size: 1.75em;
      font-weight: 900;
      line-height: 1;
      margin: 0.5em 1em;
    }

    .navbar-burger {
      cursor: pointer;
      margin: 0.5em 1em;
      font-size: 1.75em; //TODO Change size?

      z-index: 100;
      @media only screen and (min-width: $breakpoint-sm) {
        display: none;
      }
    }

    .navbar-nav {
      flex-grow: 1;
      display: none;
      z-index: 10;

      @media only screen and (min-width: $breakpoint-sm) {
        display: block;
      }
    }

    .navbar-menu {
      font-size: 1.25em;
      list-style: none;
      display: block;
      text-align: right;

      .navbar-links {
        margin: 0 .25em;
        display: inline-block;
      }
    }
  }
}

// Main style
main {
  padding: 1.5em 0;
  color: $text-color-body;

  .main-container {
    h2 {
      padding-bottom: .5em;
    }

    .map-display div[id^="map-"] {
      height: 500px;
      z-index: 5;
      margin-bottom: 1em;
    }
  }
}

// Footer style
footer {
  @extend %headerFooter;
  padding: .5em 0;
  color: $text-color-gray;

  .footer-container {
    .footer-logos-container {
      padding: .5em 0;

      .footer-logos {
        text-align: center;
      }
    }

    .footer-text {
      border-top: 1px solid rgba(255, 255, 255, .1);
      padding: .5em 0 .75em;

      p:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}

// Links style and burger icon
.links, .navbar-burger {
  text-decoration: none;
  transition: .3s all ease;
  color: $links-color-light;

  &:hover {
    color: $links-color-light-hover;
  }
}