//
// style.scss
// Compiled by sass with scss syntax
//
// This file is spited between different comment for readability
//

//
// Imports scss files
//
@import "includes/variables";
@import "includes/reset-css";
@import "includes/container";

//
// Imports fonts
//
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;900&display=swap');

//
// Base layout for the page layout and footer alignment
//

body {
  display: flex;
  flex-direction: column;

  main {
    flex: 1 0 auto;
  }

  footer {
    flex-shrink: 0;
  }
}

// Grid .footer-logos-container
.footer-logos-container {
  display: grid;

  // For small (xs and sm) devices: 1 per lines
  @media only screen and (min-width: $breakpoint-xs) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
  // For medium (md) devices: 2 per lines
  @media only screen and (min-width: $breakpoint-md) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  // For large (lg) devices: 4 per lines
  @media only screen and (min-width: $breakpoint-lg) {
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
  }
  // Gap between column elements
  grid-column-gap: 25px;
  // Gap between row elements
  grid-row-gap: 10px;
}

//
// Main style information
// Color, padding, marging, and so on...
//

// Diverse background color which don't fit elsewhere TODO Change color
%headerFooter {
  background: $background-header-footer;
}

body {
  background: $background-light;
}

// Default font for all elements TODO Change font
* {
  font-family: 'Work Sans', sans-serif;
}

// Header style
header {
  @extend %headerFooter;

  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .25em 0;

    .navbar-title {
      font-size: 1.75em;
      font-weight: 900;
      margin: 0.5em 1em;
      line-height: 1;
    }

    .navbar-nav {
      flex-grow: 1;
      @media (max-width: $breakpoint-md) { display: none}
    }

    .navbar-menu {
      font-size: 1.25em;
      list-style: none;
      display: block;
      text-align: right;

      li {
        margin: 0 .25em;
        display: inline-block;
      }
    }
  }
}

// Main style
main {
  color: $text-color-body;

  .main-container {

  }
}

// Footer style
footer {
  @extend %headerFooter;

  padding: .5em 0;

  color: $text-color-gray;

  .footer-container {
    .footer-logos {
      text-align: center;
    }
  }
}

// Links style TODO Change color
.links {
  text-decoration: none;
  transition: .3s all ease;
  color: $links-color-light;

  &:hover {
   color: $links-color-light-hover;
  }
}