// Imports scss files
@import "includes/variables";
@import "includes/reset-css";
@import "includes/container";
@import "includes/simple-grid";

// Imports fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;900&display=swap');


// CSS
* {
  font-family: 'Work Sans', sans-serif;
}

//TODO Change color
%headerFooter {
  background: $background-header-footer;
  left: 0;
  right: 0;
}

header {
  position: sticky;
  @extend %headerFooter;
  top: 0;

  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .25em 0;

    .navbar-title {
      font-size: 1.75em;
      font-weight: 900;
      margin: 0.5em 1em;
      line-height: 1;
    }

    .navbar-nav {
      flex-grow: 1;
      @media (max-width: $breakpoint-md) { display: none}
    }

    .navbar-links {
      font-size: 1.25em;
      list-style: none;
      display: block;
      text-align: right;

      li {
        margin: 0 .25em;
        display: inline-block;
      }
    }
  }
}

body {
  background: $background-light;
}

main {
  color: $text-color-body;
  .main-container {

  }
}

footer {
  position: fixed;
  @extend %headerFooter;
  bottom: 0;

  padding: .5em 0;

  color: $text-color-gray;

  .footer-container {
    .footer-logos {
      text-align: center;
    }
  }
}

//TODO Change color
.links {
  text-decoration: none;
  transition: .3s all ease;
  color: $links-color-light;

  &:hover {
   color: $links-color-light-hover;
  }
}