<!doctype html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="/assets/css/style.css">
        {% block stylesheets %}

        {% endblock %}
    </head>
    <body>
    <header role="banner">
        <div class="container navbar-container">
            <h1 class="navbar-title"><a href="/" class="links">JENT</a></h1>
            <div class="navbar-burger">
                <span class="icon-menu"></span>
            </div>
            <nav class="navbar-nav" role="navigation">
                <ul class="navbar-menu">
                    <li class="navbar-links">
                        <a href="/" class="links">Accueil</a>
                    </li>
                    <li class="navbar-links">
                        <a href="/parking/map" class="links">Parkings</a>
                    </li>
                    <li class="navbar-links">
                        <a href="/velo/map" class="links">V&eacute;lhops</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    {% block body %}

    {% endblock %}
    <footer role="doc-footnote">
        <div class="container footer-container">
            <div class="footer-logos-container">
                <div class="footer-logos">
                    <a href="https://www.onlineformapro.com/">
                        <img src="https://www.accesscodeschool.fr/wp-content/uploads/2018/10/logo_footer.png"
                             alt="Logo formation online">
                    </a>
                </div>
                <div class="footer-logos">
                    <a href="https://www.onlineformapro.com/">
                        <img src="https://www.accesscodeschool.fr/wp-content/uploads/2018/10/logo_footer.png"
                             alt="Logo formation online">
                    </a>
                </div>
                <div class="footer-logos">
                    <a href="https://www.onlineformapro.com/">
                        <img src="https://www.accesscodeschool.fr/wp-content/uploads/2018/10/logo_footer.png"
                             alt="Logo formation online">
                    </a>
                </div>
                <div class="footer-logos">
                    <a href="https://www.onlineformapro.com/">
                        <img src="https://www.accesscodeschool.fr/wp-content/uploads/2018/10/logo_footer.png"
                             alt="Logo formation online">
                    </a>
                </div>
            </div>
            <div class="footer-text">
                <p>
                    Je suis le footer.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </p>
            </div>
        </div>
    </footer>
        {% block javascripts %}

        {% endblock %}
    </body>
</html>
