<!doctype html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="/assets/css/style.css">
        {% block stylesheets %}

        {% endblock %}
    </head>
    <body>
    <header>
        <h1></h1>
        <nav>
            <ul>
                <li><a href="/">Accueil</a></li>
                <li><a href="/parking/map">Parkings</a></li>
                <li><a href="/velo/map">V&eacute;lhops</a></li>
            </ul>
        </nav>
    </header>
        {% block body %}

        {% endblock %}
    <footer>
        <p>Je suis le footer</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </footer>
        {% block javascripts %}
    
        {% endblock %}
    </body>
</html>
