<!doctype html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="/assets/css/style.css">
        {% block stylesheets %}

        {% endblock %}
    </head>
    <body>
    <header class="navbar" role="banner">
        <h1 class="navbar-title">JENT</h1>
        <nav class="navbar-nav" role="navigation">
            <ul class="navbar-links">
                <li>
                    <a href="/" class="links">Accueil</a>
                </li>
                <li>
                    <a href="/parking/map" class="links">Parkings</a>
                </li>
                <li>
                    <a href="/velo/map" class="links">V&eacute;lhops</a>
                </li>
            </ul>
        </nav>
    </header>
    {#<pre>
























































    </pre>#}
        {% block body %}

        {% endblock %}
    <footer>
        <p>Je suis le footer</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </footer>
        {% block javascripts %}

        {% endblock %}
    </body>
</html>
